@mixin negative() {
    --plural-hero-background-color: var(--plural-negative-color-core-bg-default);
    --plural-hero-color: var(--plural-negative-color-core-content-default);
    --plural-hero-shadow: 0 0 3rem rgba(0, 0, 50, .8);
}