@mixin negative() {
    --plural-hero-background-color: --plural-negative-background-core-content-default;
    --plural-hero-color: --plural-negative-color-core-content-default;
    --plural-hero-shadow: 0 0 3rem rgba(0, 0, 50, .8);
}