@use '../build/css/variables.css';
@use './styles/_breakpoints.scss';

:root {
    color-scheme: light dark;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
}

html {
  @media (prefers-color-scheme: light) {
    color: var(--plural-positive-color-core-content-default);
    background-color: var(--plural-positive-color-core-bg-default);
  }
  
  @media (prefers-color-scheme: dark) {
    color: var(--plural-negative-color-core-content-default);
    background-color: var(--plural-negative-color-core-bg-default);
  }
}

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }
  
  